doctype html
html
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href=path+'/stylesheets/style.css')
        link(rel='stylesheet' href=path+'/components/leaflet/dist/leaflet.css')
    body
        block content
        script(src=path+'/components/jquery/dist/jquery.min.js')
        script(src=path+'/components/leaflet/dist/leaflet.js')
        script(src=path+'/components/topojson/topojson.js')
        script(src=path+'/components/lodash/lodash.min.js')
        script(src=path+'/javascripts/global.js')